<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.RcUserMapper">
    <resultMap type="com.example.demo.Entity.UserEntity" id="userEntityMap">
        <id column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="user_nickname" property="userNickname" />
    </resultMap>
    <resultMap id="testEntityMap" type="com.example.demo.Entity.TestEntity">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="amount" property="amount"  />
        <result column="prop_info" property="propInfo"  />
    </resultMap>

    <!--插入新用户-->
    <insert id="adduser" parameterType="com.example.demo.Entity.UserEntity" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO `rc_user` (user_name,user_nickname)
        VALUES (#{userName},#{userNickname})
    </insert>
    <!--查询用户-->
    <select id="findAll" resultMap="userEntityMap">
        SELECT * FROM rc_user
    </select>
    <!--联合查询-->
    <resultMap type="com.example.demo.Entity.UserTestEntityVO" id="UserTestEntityVO">
        <id column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="user_nickname" property="userNickname" />
        <collection property="test" javaType="java.util.List" resultMap="testEntityMap" />
    </resultMap>
    <select id="UserJoinTest" parameterType="java.lang.Integer" resultMap="UserTestEntityVO">
        select u.*,t.amount from rc_user u left join rc_test t on t.user_id=u.id where u.id=#{userId}
    </select>


</mapper>