<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.RcUserMapper">
    <resultMap type="com.example.demo.Entity.UserEntity" id="userEntityMap">
        <id column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="user_nickname" property="userNickname" />
    </resultMap>
    <resultMap id="TestVOMap" type="com.example.demo.vo.TestVO">
        <id column="id" property="id" />
        <result column="amount" property="amount"  />
        <result column="prop_info" property="propInfo"  />
    </resultMap>

    <!--插入新用户-->
    <insert id="adduser" parameterType="com.example.demo.Entity.UserEntity" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO `rc_user` (user_name,user_nickname)
        VALUES (#{userName},#{userNickname})
    </insert>
    <!--查询用户-->
    <select id="findAll" resultMap="userEntityMap" parameterType="java.util.List">
        SELECT * FROM rc_user
        <where>
            id in
            <foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </where>
    </select>
    <!--查询单个用户-->
    <select id="findOne" resultMap="userEntityMap" parameterType="java.util.Map">
        SELECT * FROM rc_user
        <where>
            <if test="params.id != null and params.id != ''">
                and id=#{params.id}
            </if>
            <if test="params.userName != null and params.userName!=''">
                and user_name=#{params.userName}
            </if>
        </where>
        limit 1
    </select>
    <!--联合查询-->
    <resultMap type="com.example.demo.vo.UserJoinTestVO" id="UserJoinTestVO">
        <id column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="user_nickname" property="userNickname" />
        <collection property="test" javaType="java.util.List" resultMap="TestVOMap" />
    </resultMap>
    <select id="UserJoinTest" parameterType="java.lang.Integer" resultMap="UserJoinTestVO">
        select u.*,t.amount from rc_user u left join rc_test t on t.user_id=u.id where u.id=#{userId}
    </select>


</mapper>